body {
    font-family: 'Bree Serif', serif;
}

nav {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;

}

nav .page-name {
    width: 40%;
    height: 100%;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
}

nav .menu {
    float: right;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 3px 15px;

}

nav li a {
    text-decoration: none;
    color: black;
}

nav .icon {
    margin-right: 200px;
    padding: 20px;
}